/* Genel Görünüm Kısmı */
body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    background-color: #0b0a1e;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0e164d;
    color: white;
    text-align: center;
    padding: 50px 0;
    background-image: url(https://cdn.discordapp.com/attachments/1217486895160758292/1248899758345687101/blurry-gradient-haikei_1.png?ex=66655809&is=66640689&hm=0c70f11ca02afb48170a244535ad60533b3fd21dc804265b0db5f6db6434855d&);
    background-size: cover;
    justify-content: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    display: inline-block;
    font-size: 70px;
    background: linear-gradient(to right, #243cd7 0%,#091147 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header p {
    margin: 10px 0;
    font-size: 1.2em;
}

/* "Sunucuya Katıl" Butonu */
.cta-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

section {
    margin-bottom: 20px;
}

section h2 {
    font-size: 2em;
    color: #007bff;
}

footer {
    text-align: center;
    padding: 20px;
}

 button {
    position: relative;
    padding: 12px 35px;
    background: #0f31a0;
    font-size: 17px;
    font-weight: 500;
    color: #181818;
    border: 3px solid #4744ed;
    border-radius: 8px;
    box-shadow: 0 0 0 #0a2b608c;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
  }
  
  .star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.8s ease;
  }
  
  button:hover {
    background: transparent;
    color: #3ed8f3;
    box-shadow: 0 0 25px #3286a58c;
    align-items: center;
    justify-content: center;
  }
  
  button:hover .star-1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-2 {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-4 {
    position: absolute;
    top: 30%;
    left: 80%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-5 {
    position: absolute;
    top: 25%;
    left: 115%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-6 {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  .fil0 {
    fill: #fffdef;
  }  

  .card {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1rem;
    width: 14rem;
    height: auto;
    background-color: rgb(48, 88, 143);
    background-image: radial-gradient(
        circle at 0% 0%,
        rgb(7, 41, 44) 15%,
        rgba(0, 0, 0, 0) 75%
      ),
      radial-gradient(
        circle at 100% 100%,
        rgba(2, 31, 31, 0.9) 15%,
        rgba(0, 0, 0, 0) 150%
      ),
      linear-gradient(
        135deg,
        rgba(24, 8, 28, 0) 0%,
        rgb(48, 96, 143) 50%,
        rgba(24, 8, 28, 0) 100%
      );
    border-radius: 0.5rem;
    justify-content: center;
    display: flex;
  }
  
  .card::before {
    content: "";
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    background-color: rgb(48, 119, 143);
    background-image: linear-gradient(
      0deg,
      rgb(42, 152, 180) 0%,
      rgb(95, 177, 228) 75%
    );
    border-radius: 9999px;
    box-shadow: 0 1px 5px 3px rgb(95, 199, 228), 0 0 30px 5px rgb(95, 226, 228);
  }
  
  .card .title {
    font-size: 1rem;
    color: white;
    font-weight: 600;
  }
  
  .card .pricing {
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
  }
  
  .card .pricing .pricing-time,
  .card .sub-title {
    font-size: 0.75rem;
    color: rgb(132, 189, 199);
    font-weight: 500;
  }
  
  .card .list {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-size: 0.75rem;
    color: white;
    font-weight: 500;
    list-style: none;
  }
  
  .card .list .list-item .check {
    margin-right: 0.25rem;
    font-size: 1rem;
    color: rgb(95, 217, 228);
    font-weight: 900;
  }
  
  .card .button {
    overflow: hidden;
    cursor: pointer;
    position: relative;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
    width: 100%;
    height: fit-content;
    background-color: rgb(46, 161, 178);
    font-size: 0.75rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 2px 1px rgb(43, 123, 149);
    transition: all 0.3s cubic-bezier(1, 0, 0, 1);
  }
  
  .card .button .text-button {
    position: relative;
    z-index: 10;
  }
  
  .card .button::before,
  .card .button::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
  }
  .card .button::before {
    left: 0;
    background-image: radial-gradient(
      circle at 0% 45%,
      rgba(16, 5, 36, 1) 19%,
      rgba(16, 5, 36, 0.26) 46%,
      rgba(16, 5, 36, 0) 100%
    );
  }
  .card .button::after {
    right: 0;
    background-image: radial-gradient(
      circle at 100% 45%,
      rgba(16, 5, 36, 1) 19%,
      rgba(16, 5, 36, 0.26) 46%,
      rgba(16, 5, 36, 0) 100%
    );
  }
  
  .card .button:hover {
    box-shadow: 0px 0px 20px 0 rgb(13, 81, 96);
  }
  
  .card .button:hover::before,
  .card .button:hover::after {
    width: 0;
    opacity: 0;
  }
  